.subEvent
    display: flex
    position: relative
    height: 500px
    width: 45vw
    justify-content: center
    align-items: center
    border: 1px solid black
    cursor: pointer
    margin: 5px 15px 15px 15px
