.mainEvent
    display: flex
    position: relative
    height: 650px
    width: 100%
    justify-content: center
    text-align: center
    background-color: #FBFBFD
    cursor: pointer
    margin-bottom: 15px

    .mainEvent__contents
        display: flex
        width: 100%
        height: 100%
        flex-direction: column
        position: absolute

        h1
            font-size: 40px
            margin-top: 40px

        .phrase
            font-size: 28px
            margin-bottom: 10px

        .mainEvent__links
            display: flex
            position: relative
            justify-content: center
            margin-top: 10px

            .link
                font-size: 20px
                color: #0171E2
                margin: 0 40px 0 40px

                &:hover
                    text-decoration: underline

        .mainEvent__image
            display: flex
            position: absolute
            justify-content: center
            width: 100%
            height: 70%
            bottom: 0

            .image
                width: 600px
                height: 100%

            .watchImage
                width: 400px

    .blackBackground
        background-color: black
        color: #F5F5F7
